.bottomUIBox {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 31%;
    height: 150px;
    z-index: 99;
    display: flex;
    align-items: center;
    min-width: 1283px;
}

.leftStateBox {
    width: 100%;
    max-width: 212px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 0px;
    background-color: rgba(0, 29, 37, 0.9);
    padding: 8px 5px;
    border: 2px solid #ba8726;
    box-sizing: border-box;
}

.leftStateBoxItem {
    display: flex;
    align-items: center;
    gap: 0px;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    padding: 4px 8px;
    border-radius: 4px;
}

.leftStateBoxItem img {
    width: 18px;
    height: 18px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    border: none;
}

.leftStateBoxItem span {
    margin-left: 10px;
    line-height: 20px;
    text-shadow: 2px 2px 1px #000;
}

.HeadBox {
    width: 130px;
    height: 130px;
    border: 6px solid #ba8726;
    border-radius: 50%;
    margin-left: -16px;
    position: relative;
    z-index: 1;
}

.HeadBox img {
    width: 110%;
}



.mainBox {
    width: 515px;
    height: 107%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(0, 29, 37, 0.9);
    padding: 27px 21px 10px 43px;
    position: relative;
    /* margin-left: 51px; */
    left: -26px;
    bottom: 6px;
    border: 2px solid #ba8726;
}

.mainBox .buffBox {
    position: absolute;
    top: -48px;
    left: 0px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mainBox .buffBox .selfBuffBox,
.mainBox .buffBox .deBuffBox {
    width: 50%;
    display: flex;
    align-items: center;
}

.mainBox .buffBox .deBuffBox {
    justify-content: end;
}

.buffIcon {
    width: 35px;
    height: 35px;
    margin-right: 5px;
    background-color: #071518;
}

.mainBox .skillBox {
    width: 100%;
    height: 55%;
    display: flex;
    align-items: self-start;
    justify-content: space-between;
    gap: 13px;
}

.mainBox .skillBox .skillItem {
    flex: 1;
    width: 50px;
    position: relative;
    aspect-ratio: 1 / 1.3;
}

.mainBox .skillBox .minSkillItem {
    flex: none;
    width: 45px;
    border: 1px solid #ba8726;
    height: 45px;
}

.mainBox .skillBox .skillItem .icon {
    flex: 1;
    position: relative;
    border: 1px solid #ba8726;
    aspect-ratio: 1 / 1;
}

.mainBox .skillBox .skillItem .magic {
    position: absolute;
    right: 2px;
    top: -2px;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
}

.mainBox .skillBox .skillItem .key {
    position: absolute;
    left: -8px;
    bottom: 4px;
    font-size: 17px;
    z-index: 9;
    font-weight: 600;
    text-shadow: 2px 2px 1px #000;
    color: #ba8726;
}

.mainBox .skillBox .skillItem .levelBox {
    width: 85%;
    height: 15px;
    display: flex;
    align-items: end;
    justify-content: space-around;
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
}

.mainBox .skillBox .skillItem .levelBox div {
    width: 7px;
    height: 7px;
    border-radius: 999em;
    background-color: #ba8726;
}

.mainBox .helathBarBox {
    width: 100%;
    height: 33%;
    display: flex;
    flex-direction: column;
    background-color: #071518;
    justify-content: space-between;
}

.mainBox .helathBarBox .helathBarItem {
    width: 100%;
    height: 45%;
    position: relative;
    border-left: 4px solid #ba8726;
    border-right: 4px solid #ba8726;
}

.mainBox .helathBarBox .helathBarItem .healthBar {
    width: 70%;
    background-color: green;
    height: 100%;
    border-right: 3px solid #FFF;
    transition: .3s;
}

.mainBox .helathBarBox .helathBarItem .magicBar {
    background-color: blue;
    width: 100%;
    border-right: 3px solid #FFF;
    transition: .3s;
    height: 100%;
}

.mainBox .helathBarBox .helathBarItem .healthBarNumber {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-shadow: 2px 2px 1px #000;
    font-weight: 600;
}

.mainBox .helathBarBox .helathBarItem .healthBarAdd {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    color: #FFF;
    text-shadow: 2px 2px 1px #000;
    font-weight: 600;
}

.equipBox {
    width: 17%;
    height: 107%;
    position: relative;
    left: -24px;
    bottom: 6px;
    background: rgba(0, 29, 37, 0.9);
    border: 2px solid #ba8726;
    padding: 25px 10px 0 7px;
    display: flex;
}

.equipBox .equipInLeftBox {
    width: 72%;
    height: 100%;
}

.equipBox .equipInLeftBox .equipInBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 8px;
    height: 68%;
    width: 100%;
    box-sizing: border-box;
}

.equipBox .equipInLeftBox .equipInBox .equipItem {
    aspect-ratio: 1 / 1;
    color: white;
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
    align-items: center;
    width: 41px;
}

.equipBox .equipInLeftBox .BuyBtn {
    width: 100%;
    height: 27%;
    color: #FFF;
    background-color: #071518;
    display: flex;
    align-items: center;
    border: 3px solid #ba8726;
    justify-content: center;
    margin-top: 5px;
}

.equipInRightBox {
    width: 28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
    top: -3px;
}

.equipInRightBox .eyeBtn {
    background-color: #4CAF50;
    width: 40px;
    height: 40px;
}

.equipInRightBox .backBtn,
.equipInRightBox .shop {
    background-color: #4CAF50;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.settingBox {
    position: fixed;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #FFF;
}