.bottomUIBox {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 150px;
    z-index: 99;
    display: flex;
    align-items: center;
    background: rgba(0, 29, 37, 0.9);
    border: 2px solid #ba8726;
}

.heroLevelBox {
    position: absolute;
    left: 25%;
    z-index: 2;
    top: 76%;
    width: 30px;
    border: 2px solid #ba8726;
    height: 30px;
    color: #FFF;
    background: rgba(0, 29,
            37,
            0.9);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
}

.leftStateBox {
    width: 100%;
    max-width: 197px;
    min-width: 197px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 0px;
    padding: 8px 5px;
    box-sizing: border-box;
}

.leftStateBoxItem {
    display: flex;
    align-items: center;
    gap: 0px;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    padding: 4px 8px;
    border-radius: 4px;
}

.leftStateBoxItem img {
    width: 18px;
    height: 18px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    border: none;
}

.leftStateBoxItem span {
    margin-left: 10px;
    line-height: 20px;
    text-shadow: 2px 2px 1px #000;
}

.HeadBox {
    border-radius: 50%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-ring {
    transform: translateZ(0);
}

.progress-ring__circle {
    fill: transparent;
    transition: stroke-dashoffset 0.35s;
}

.progress-ring__circle--background {
    stroke: #E0E0E0;
    stroke-width: 8;
}

.progress-ring__circle--progress {
    stroke: #9C27B0;
    stroke-width: 8;
    stroke-linecap: round;
}

.avatar-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


.mainBox {
    width: 489px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 21px 10px 27px;
    position: relative;
}

.mainBox .buffBox {
    position: absolute;
    top: -48px;
    left: 0px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mainBox .buffBox .selfBuffBox,
.mainBox .buffBox .deBuffBox {
    width: 50%;
    display: flex;
    align-items: center;
}

.mainBox .buffBox .deBuffBox {
    justify-content: end;
}

.buffIcon {
    width: 35px;
    height: 35px;
    margin-right: 5px;
    background-color: #071518;
}

.mainBox .skillBox {
    width: 100%;
    height: 53%;
    display: flex;
    align-items: self-start;
    justify-content: space-between;
    gap: 17px;
}

.mainBox .skillBox .skillItem {
    flex: 1;
    width: 50px;
    position: relative;
    aspect-ratio: 1 / 1.3;
}

.mainBox .skillBox .minSkillItem {
    flex: none;
    width: 38px;
    border: 1px solid #ba8726;
    height: 38px;
}

.mainBox .skillBox .skillItem .icon {
    flex: 1;
    position: relative;
    border: 1px solid #ba8726;
    aspect-ratio: 1 / 1;
}

.mainBox .skillBox .skillItem .magic {
    position: absolute;
    right: 2px;
    top: -2px;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    text-shadow: 2px 2px 1px #000;
}

.mainBox .skillBox .skillItem .key {
    position: absolute;
    left: -6px;
    bottom: 7px;
    font-size: 17px;
    z-index: 9;
    font-weight: 600;
    text-shadow: 2px 2px 1px #000;
    color: #ba8726;
}



.mainBox .skillBox .skillItem .levelBox {
    width: 85%;
    height: 15px;
    display: flex;
    align-items: end;
    justify-content: space-around;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.mainBox .skillBox .skillItem .levelBox div {
    width: 7px;
    height: 7px;
    border-radius: 999em;
    background-color: #ba8726;
}

.mainBox .helathBarBox {
    width: 100%;
    height: 33%;
    display: flex;
    flex-direction: column;
    background-color: #071518;
    justify-content: space-between;
}

.mainBox .helathBarBox .helathBarItem {
    width: 100%;
    height: 45%;
    position: relative;
    border-left: 4px solid #ba8726;
    border-right: 4px solid #ba8726;
}

.mainBox .helathBarBox .helathBarItem .healthBar {
    width: 100%;
    background-color: green;
    height: 100%;
    border-right: 3px solid #FFF;
    transition: .3s;
}

.mainBox .helathBarBox .helathBarItem .magicBar {
    background-color: blue;
    width: 100%;
    border-right: 3px solid #FFF;
    transition: .3s;
    height: 100%;
}

.mainBox .helathBarBox .helathBarItem .healthBarNumber {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-shadow: 2px 2px 1px #000;
    font-weight: 600;
}

.mainBox .helathBarBox .helathBarItem .healthBarAdd {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    color: #FFF;
    text-shadow: 2px 2px 1px #000;
    font-weight: 600;
}

.equipBox {
    width: auto;
    height: 100%;
    padding: 16px 17px 0 7px;
    display: flex;
}

.equipBox .equipInLeftBox {
    width: 100%;
    height: 100%;
}

.equipBox .equipInLeftBox .equipInBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 7px;
    height: 68%;
    width: 100%;
    box-sizing: border-box;
}

.equipBox .equipInLeftBox .equipInBox .equipItem {
    aspect-ratio: 1 / 1;
    color: white;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 9, 12, 0.9);
    align-items: center;
    width: 42px;
}

.equipBox .equipInLeftBox .BuyBtn {
    width: 100%;
    height: 25%;
    color: #FFF;
    background-color: #071518;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
    cursor: pointer;
    transition: .3s;
}

.equipBox .equipInLeftBox .BuyBtn:hover {
    opacity: 0.5;
}

.settingBox {
    position: fixed;
    right: 10px;
    top: 10px;
    font-size: 15px;
    color: #FFF;
}